.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  height: 500px;
  padding:20px;
}

.example-full-width {
  width: 100%;
}

form{
  margin:auto;
  padding-top: 30px;
}

#footer-video{
  width:100%;
  height:300px;
  object-fit: cover;
}
#footer-container{
  /* display: flex; */
  /* background-color:rgb(164, 173, 250) ; */
  /* position: relative; */
  /* top:50px; */
  width: 100%;
  height: 100px;
  margin:auto;
  /* border-top:1px solid rgb(202, 201, 201); */
}
#video-2{
  position: relative;
  width: 100%;
}
#second-container{
  position: absolute;
  bottom:-120px;
  padding-left:15px;
  display: flex;
  width:100%;
  justify-content: space-around;
}
#contact{
  /* width:20%; */
}
#links{
  left:150px;
}
#links>p{
  color:white
}
#htu{
  width:75px;
  height:75px
}
#info{
  position: absolute;
  bottom:-200px;
  width:100%;
  color:white;
}
#info>p{
  text-align: center;
}
#contact>p{
  color:white;
  /* text-align: center; */
}
@media only screen and (max-width: 280px) {
  #footer-container{
    display: flex;
    background-color:rgb(164, 173, 250) ;
    position: relative;
    top:470px;
    width: 100%;
    height: 100px;
    margin:auto;
    border-top:1px solid rgb(202, 201, 201);
  }
  img{
    width:100%;
    height:350px;
  }
}
@media only screen and (max-width: 375px) {
  #footer-container{
    display: flex;
    background-color:rgb(164, 173, 250) ;
    position: relative;
    top:375px;
    width: 100%;
    height: 100px;
    margin:auto;
    border-top:1px solid rgb(202, 201, 201);
  }
  img{
    width:100%;
    height:350px;
  }
}
