

<form [formGroup]="contact" (ngSubmit)="onSubmit()" class="example-form">
  <h2>Please Fill The Required Fields So We Can Reach You: </h2>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Full Name</mat-label>
    <input matInput placeholder="Ex. Pizza" formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email"
          placeholder="Ex. pat@example.com">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..." formControlName="description"></textarea>
  </mat-form-field>
  <button mat-flat-button color="primary" [disabled]="contact.invalid">Submit</button>
</form>

<footer>
  <div id="footer-container">
    <div id="video-2">
      <video id="footer-video" loop muted autoplay >
        <source src="assets/we-video.mp4" type="video/mp4">
      </video>
    </div>

    <div id="second-container">

      <div id="contact">
        <p>Contacts</p>
        <p>Email: rashedmalkawi97@gmail.com</p>
        <p>Address: Amman/Jordan</p>
        <p>Tele: 00962791563116</p>
      </div>
  <div id="links">
    <p>This project was supported by:</p>
    <img id="htu" src="assets/images/htu.jpg" alt="htu-image">
    </div>

</div>
<div id="info">
  <p>© 2022 WE Corporation. All Rights Reserved.</p>
</div>
</div>
</footer>
