<h2>Your profile </h2>
<p>you can view your informations and edit it</p>
<!-- <div *ngFor="let card of cards ">{{card.name}}</div> -->
<form [formGroup]="companyForm" >
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>your email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" required>
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Company Name</mat-label>
      <input matInput placeholder="" formControlName="companyName" required>
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="" formControlName="phone" required>
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Company Type</mat-label>
      <mat-select formControlName="types">
        <mat-option *ngFor="let type of types" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Website URL</mat-label>
      <input matInput placeholder="" formControlName="url" required>
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="saveForm()">
    Save
  </button>
</form>
