<div id="img">
  <img src="./assets/images/about.png" alt="about">
</div>

<div id="text-container">
  <div id="message">
    <h5>Our message</h5>
  </div>
  <h5>
    To effectively influence civil society and all partners <br>
    and the relevant authorities through charitable work and social responsibility.</h5>
  <div>
    <div id="about">
      <h5>About We</h5>
    </div>
    <p>
      The endeavors of the “We” platform, which is a national platform, come with the aim of unifying efforts made in the field of volunteer work and youth participation at all levels, by building partnerships with the public and private sectors, civil society institutions and owners of initiatives, so that the platform provides the largest possible number of voluntary opportunities in the belief that volunteer work Young people gain new skills, increase their personal and work experience, and ensure a bright future for the societies that embrace them.
    </p>
    <p>
      The "we" platform works to find real volunteer opportunities in various sectors for young people from all over the Kingdom in order to guide them and how to participate in them according to their interests to enhance their role in volunteer work in their communities. The platform's keenness to ensure the rights of volunteers is also a priority by documenting their participation in volunteer opportunities on the platform.
    </p>
  </div>
  </div>
