
<h2 mat-dialog-title>Applicants for this Activity:</h2>
<mat-dialog-content class="mat-typography">

  <!-- <div id="cards-container"> -->
  <mat-card class="example-card" *ngFor="let applicant of applicants">
    <mat-card-title-group >
      <div>
        <!-- <img [src]="user.photoURL ?? '/assets/images/profile-placeholder.jpg'"
        > -->
      </div>
      <mat-card-title >{{applicant.name}}</mat-card-title>

        <div>

          <button mat-raised-button color="primary"
          (click)="onApprove(applicant.id)">Approve</button>
          <button mat-raised-button color="warn">Reject</button>
        </div>
      </mat-card-title-group>
      <mat-card-content >
    <p>Skills: {{applicant.skill}}</p>
    <p>Experience: {{applicant.experience}}</p>
    <p>Start Date: {{applicant.start | date: 'yyyy/MM/dd'}}</p>
    <p>End Date: {{applicant.end | date: 'yyyy/MM/dd'}}</p>
      </mat-card-content>
  </mat-card>

  <!-- </div> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>

