.example-card{
  margin:10px;
  width:400px;
  /* height:300px; */
  display: flex;
  justify-content: space-between;
}
#cards-container{
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* width: 600px; */
}
mat-card-title-group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
button{
  margin: 5px;
}
.container{
  display: flex;
}
.approved-applicants{
  border-left: 1px solid grey;
}
h2{
  text-align: center;
}
