
#header{
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: blueviolet;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items : center;
  z-index: 55;
}
#header::after{
    content: "";
    position: absolute;
    background-color: indigo;
    padding-bottom: 124.42136%;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: rotate(80deg);
    transform-origin: left bottom;

}
img{
  width:100px;
  height:75px;
  z-index: 66;
}
nav{
  display:flex;
  justify-content:space-between;
  width:800px;
  z-index: 66;
}
#login{
  font-size: 18px;
}
nav>a{
  display: block;
  text-decoration:none;
  color:white;
  font-size: 22px;
}
#anchors{
  margin-top: 13px;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width:700px;
  margin-right: 100px;
}
#button{
  position: relative;
  bottom: 7.5px;
  left:70px
}
#a{

  z-index: 888;
  display: flex;
  width:400px;
  justify-content: space-between;
}
#a>a{
  display: inline-block;
  text-decoration:none;
  color:white;
  font-size: 18px;
  z-index: 2;
}
  a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: white;
  transition: width .3s;
}
button{
  z-index: 55;
}
a:hover::after{
  width:100%;
}

#main-container{
  width:100%;
  top:75px;
  position: relative;
  margin:auto;

}
.burger{
  display: none;
  color:white;
  z-index: 55;
  border:1px solid white;
  /* padding-top:5px; */
  padding:5px 5px 0px 5px;
  border-radius: 5px;
}
@media only screen and (max-width:768px){
  #button{
    top:20px;
    left:150px;
  }
  #anchors.is-open{
    display: block;
    width: 100%;
    left:0%;
  }
  #a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
    align-items: center;
  }
    #anchors{
      position:fixed;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width:100vw;
      height:250px;
      margin-left: 0;
      flex-direction: column;
      top:62px;
      left:-100%;
      /* transform: translate(50vw , 30px); */
      background-color: indigo;
      z-index: 9999;
    }
  .burger{
    display: inline-block;
    width:100%
  }
}


