
#header{
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: blueviolet;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items : center;
  z-index: 55;
}
#header::after{
    content: "";
    position: absolute;
    background-color: indigo;
    padding-bottom: 124.42136%;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: rotate(80deg);
    transform-origin: left bottom;

}
img{
  width:100px;
  height:75px;
  z-index: 66;
}
nav{
  display:flex;
  justify-content:space-between;
  width:500px;
  z-index: 66;
}
nav>a{
  display: inline-block;
  text-decoration:none;
  color:white;
  font-size: 18px;
}
div>a{
  display: inline-block;
  text-decoration:none;
  color:white;
  font-size: 22px;
  z-index: 2;
}
  a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: white;
  transition: width .3s;
}
button{
  z-index: 55;
}
a:hover::after{
  width:100%;
}
#svg{
  width:50px;
  height:50px;
  background-color: rgba(79, 231, 55, 1);
  border-radius: 50%;
  position: fixed;
  bottom:20px;
  right:20px;
  display: flex;
  justify-content: center;
}

div>svg{
  width:25px;
  align-items: center;
}
div>svg:hover{
cursor: pointer;
}
#main-container{
  /* height:1400px; */
  width:100%;
  top:75px;
  position: relative;
  margin:auto;

}
.burger{
  color:white;
  z-index: 55;
  border:1px solid white;
  /* padding-top:5px; */
  padding:5px 5px 0px 5px;
  border-radius: 5px;
}
@media only screen and (max-width:600px){
  nav{
    display:none;
  }
  .is-open{
    display: block;
    position: absolute;
    width: 100%;

  }
}

