<header>
  <div id="header">
  <img src="./assets/images/logo.png" alt="we-logo">
<div style="display:flex ;flex-direction: column;">
  <div class="burger" (click)="toggleMenu()">
    <i class="material-icons">{{ isMenuOpen ? "close" : "menu"}}</i>
  </div>
  <!-- <nav> -->
    <div id="anchors" [class.is-open]="isMenuOpen">
      <div id="a">
        <a routerLink="why-volunteering">Home</a>
        <a routerLink="about">About</a>
        <a routerLink="contact">Contact Us </a>
      </div>
      <div id="button">
        <button id="login" mat-raised-button (click)="onClick()">Login<mat-icon>login</mat-icon></button>
      </div>
    </div>
  <!-- </nav> -->
</div>

</div>
</header>

<main>
  <div id="main-container">
    <router-outlet></router-outlet>
</div>


</main>


