<header>
  <div id="header">
  <img src="./assets/images/logo.png" alt="we-logo">

  <div id="nav">
    <div id="h1">
      <h1>Person Sign Up</h1>
    </div>
    <button mat-raised-button color="primary" (click)="back()">Back >></button>
  </div>

</div>
</header>

<div id="main">
  <h2>Sign Up</h2>
<form [formGroup]="userRegisterForm" (ngSubmit)="submit()" class="  .example-form">
  <mat-form-field appearance="fill">
    <mat-label>Email: </mat-label>
    <input type="text" matInput formControlName="email">
    <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
    <mat-error *ngIf="email?.errors?.['email']">Email format is incorrect</mat-error>
  </mat-form-field>
<br>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
    <mat-error *ngIf="password?.errors?.['minlength']">Password must be at least 8 characters</mat-error>
  </mat-form-field>
<br>

  <mat-form-field appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
    formControlName="confirmPassword">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
  </mat-form-field>

<br>
  <mat-error *ngIf="userRegisterForm.errors?.['passwordDontMatch']">
    Confirm password don't match the entered password</mat-error>

  <button class="btn" type="submit" mat-raised-button color="primary"
  [disabled]="userRegisterForm.invalid">Register</button>
</form>
<span>Have an account? <a routerLink="/userlog">Sign In</a> </span>
</div>
