<header>
  <div id="header">
  <img src="./assets/images/logo.png" alt="we-logo">

  <div id="nav">
    <div id="h1">
      <h1>Company Login</h1>
    </div>
    <button mat-raised-button color="primary" (click)="back()">Back >></button>
  </div>

</div>
</header>
<div id="main">
  <form class="example-form" [formGroup]="adminLoginForm" (ngSubmit)="adminLogin()">
    <h2>PLease login with your email and password</h2>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Type your email</mat-label>
      <input type="email" matInput formControlName="email"
            placeholder="Ex. pat@example.com">
      <mat-error *ngIf="email?.errors?.['email']">Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="email?.errors?.['required']">Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
    <mat-error *ngIf="password?.errors?.['minlength']">Password must be at least 8 characters</mat-error>
    </mat-form-field>
<mat-error *ngIf="adminStatus">{{adminStatus}}</mat-error>
    <button type="submit" mat-raised-button color="primary"
    [disabled]="adminLoginForm.invalid">Login
  <mat-icon>login</mat-icon></button>
  </form>
</div>

