<div id ="video">
  <video  loop muted autoplay >
    <source src="assets/video.mp4" type="video/mp4">
  </video>

  <div id="img-content">

    <h2>What is volunteering?</h2>
    <span>It is the provision of assistance, assistance and effort in order to work towards achieving goodness in society in general and to its members in particular. It was called voluntary work because a person does it voluntarily without being forced to do it by others. It is an inner will, and the dominance of the authority of good over evil, and evidence of the prosperity of society.</span>
  </div>
</div>

<div id="content">
<h3>Why do we volunteer?</h3>
<h4>1- Expand your circle of acquaintances and make new friends:</h4>
<p>Volunteering is a great option when it comes to providing yourself with a new opportunity in different areas of life that gives you the ability to meet new people, expand your contacts and help you step out of your comfort zone, making you more confident and increasing your social skills and ability to communicate effectively with your surroundings.</p>

<h4>2- Self-satisfaction:</h4>
<p>When was the last time you made someone happy and put a smile on their face? Wasn't that awesome! We believe that volunteering is the best way to provide self-satisfaction by making an impact in the lives of others. Changing the lives of others, even a small amount, gives a sense of importance to your person and gives you a reason to live.</p>

<h4>3- Expand your horizons:</h4>
<p>Whether you are a student, a new graduate or even an employee and looking for a change or something to help you build a career in a new field of work, volunteering is the key to all of this. Volunteering can open doors for you and provide you with an opportunity and broaden your horizons to reach your goals and build the career path you seek. Volunteering can give you experience in your area of ​​interest and the opportunity to meet people who specialize in your field. Volunteering gives you the opportunity to practice important skills used in the workplace such as teamwork, communication, problem solving, project planning and time management.</p>

<h4>4- Estimating the value of life:</h4>
<p>Volunteering gives humanity a reason to carry on and gives you a reason to live for it. Volunteering gives you the opportunity to see the lives of others in their misfortunes and all the troubles they put into living another day. When you see all of that, you become thankful for the life you have and you start to see that your problems are not as important as you thought, and thus you become destined for the life you have been given.</p>

<h4>5. It makes you a better person mentally and physically.</h4>
<p>Volunteering provides many benefits in the field of mental and physical health, in terms of mental health, volunteering increases self-confidence and raises self-esteem and self-satisfaction. Your role as a volunteer can give you a sense of pride, belonging and identity. Reducing the risk of depression is another important advantage of volunteering as It keeps you in touch with others and helps you develop a strong support system. In terms of physical health, volunteering can help you stay healthy depending on frequent movement and various activities, which contributes significantly to maintaining your overall health.</p>
</div>

<footer>
  <div id="footer-container">
    <div id="video-2">
      <video id="footer-video" loop muted autoplay >
        <source src="assets/we-video.mp4" type="video/mp4">
      </video>
    </div>

    <div id="second-container">

      <div id="contact">
        <p>Contacts</p>
        <p>Email: rashedmalkawi97@gmail.com</p>
        <p>Address: Amman/Jordan</p>
        <p>Tele: 00962791563116</p>
      </div>
  <div id="links">
    <p>This project was supported by:</p>
    <img id="htu" src="assets/images/htu.jpg" alt="htu-image">
    </div>

</div>
<div id="info">
  <p>© 2022 WE Corporation. All Rights Reserved.</p>
</div>
</div>
</footer>
